<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Topbar -->
        <%- include('./partials/navbar') %>
        <!-- End of Topbar -->

        <!-- Content Wrapper -->
        <div class="container">
            <div class="main">
                <div class="main-content">
                    <div class="row">

                        <!-- Sidebar -->
                        <div class="col-md-3">
                        </div>
                        <!-- End of Sidebar -->

                        <!-- Content -->
                        <div class="col-md-6">
                            
                        </div>
                        <!-- End of Content -->

                    </div>
                </div>
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- footer -->
        <%- include('./partials/footer') %>
        <!-- end footer -->

        <!-- scripts -->
        <%- include('./partials/scripts') %>
        <!-- end scripts -->
</body>

</html>