<% var checkin = ''
if(active) checkin = 'checked'
%>
<div class="checkbox-btn">
  <input type="checkbox" id="timeCheckBtn" class="checkbox" <%- checkin %>>
  <div class="toggler" data-label-checked="Check Out" data-label-unchecked="Check In"></div>
</div>

