<div class="panel-body">
    <form action="" method="post">
        <div class="col-md-6">
            <table class="table table-hover">
                <tr>
                    <th>
                        <h4>Start Date</h4>
                    </th>
                    <td><input type="date" class="form-control" required name="start_date"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <tr>
                    <th>
                        <h4>Start Date</h4>
                    </th>
                    <td><input type="date" class="form-control" required name="end_date"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <table class="table table-hover">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 70%;">
                </colgroup>
                <tr>
                    <td>
                        <h4>Reason for Time Off</h4>
                    </td>
                    <td><input type="text" class="form-control" required name="subject"></td>
                </tr>
                <tr>
                    <td>
                        <h4>Description (optional)</h4>
                    </td>
                    <td><textarea class="form-control" name="description"></textarea></td>
                </tr>
            </table>
           
        </div>
    </form>
</div>