<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <!--Super Admin-->
                <% if (user.admin) { %>
                <li>
                <li>
                    <a href="#userPages" data-toggle="collapse" class="collapsed"><i class="fa fa-users"></i>
                        <span>Users</span></a>
                    <div id="userPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="/manageUsers"><i class="lnr lnr-users"></i><span>Manage Users</span></a></li></li>
                            <li><a href="#manageCalendar"><i class="lnr lnr-calendar-full"></i><span>Manage Calendar</span></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#projectPages" data-toggle="collapse" class="collapsed"><i class="fa fa-briefcase"></i>
                        <span>Projects</span></a>
                    <div id="projectPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="/manageProjects"><i class="lnr lnr-briefcase"></i><span>Manage
                                        Projects</span></a></li>
                            <li><a href="/manageTasks"><i class="lnr lnr-file-add"></i><span>Manage Tasks</span></a></li>
                        </ul>
                    </div>
                </li>
                <% } %>
                <!--End Super Admin-->
                <li><a href="/myTasks"><i class="fa fa-clipboard"></i><span>My Tasks</span></a></li>
                <li><a href="/myCalendar"><i class="fa fa-calendar"></i><span>My Calendar</span></a></li>
            </ul>
        </nav>
    </div>
</div>