<div class="card">
    <div class="panel">
        <div class="panel-heading text-center">
            <h3>Create new Task</h3>
            <div class="alert alert-danger" id="passMatch" style="display:none">
                Passwords Don't match</div>
            
        </div>
        <div class="panel-body">
            <form action="/createTask" method="post">
               
                <input type="submit" id="passBtn" class="btn btn-lg btn-block btn-primary" value="Create Task" />
            </form>
        </div>
    </div>
</div>