<div class="card">
    <div class="panel">

        <div class="panel-heading">
            <h3 class="text-center">Current Employee List</h3>
            <div class="right">
                <button type="button" class="btn-toggle-collapse">
                    <i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Is Admin?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Is Admin?</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <%
                        var list = '';
                        for (i = 0; i < userlist.length; i++) {
                        var superAdmin = 'No'; if(userlist[i].admin) superAdmin = 'Yes';
                        list += '<tr>';
                            list += '<td>' + userlist[i].name + '</td>';
                            list += '<td>' + userlist[i].email+ '</td>';
                            list += '<td>' + superAdmin + '</td>';
                            list += '<td><a class="btn btn-primary btn-block" href="/manageUser?uid='+ userlist[i]._id + '">View Employee</a></td>';
                        list += '</tr>';
                        }
                        %>
                        <%- list %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>